*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


/* New code */

.page{
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  align-items: center;
}

.content{
  display: grid;
  grid-template-areas: 
  "result__video-container content__details";
  width: 1140px;
  height: 534px;
  top: 133px;
  left: 30px;
  /* bottom: 0px; */
  gap: 30px;
  align-items: end;
}

.result{
  display: grid;
  /* align-items: end; */
  /* grid-template-areas: 
  "result__video-container",
  "search-form"; */
  width: 711px;
  height: 456px;
}



.content__details{
  grid-area: content__details;
  width: 399px;
  height: 534px;
  gap: 26px;
  display: grid;
  /* overflow: auto; */
}

.title{
  font-family: 'Oswald';
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.custom-scrollbar{
  /* width: 399px;
  height: 298px;
  padding-right: 198px;
  padding-left: 198px; */
  display: grid;
  /* width: 390px; Закоментировал эту ширишу потому что появлялся
  горизонтальный скролл. Теперь этот конейнер подстраивается под ширину содержимых блоков
  Разница была в 9px*/
  /* height: 566px; */
  height: 298px;
  gap: 30px;
  overflow-y: auto;
}

.content__list{
  display: grid;
  gap: 30px;
}

.content__list-item{
  display: grid;
  /* gap: ; */
  width: 390px;
  height: 103px;
  gap: 30px 0px;

  
}


.content__video-card-title{
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
}







/* .result__video-container{
  grid-area: result__video-container;
  width: 711px;
  height: 456px;
  gap: 16px;
  align-items: end;
} */


.result__video-container {
  grid-area: result__video-container;
  width: 711px;
  /* height: 456px; */
  height: 386px;
  /* gap: 16px; */
  /* align-items: start; */
  /* align-self:first baseline; */
  position: relative; 
  grid-column: 1/1;
  grid-row: 1/1;
}


/* .result__video{
  width: 711px;
  height: 386px;
  object-fit: cover;
  grid-area: result__video;
} */
/* position: relative; Добавил данную строчку стобы сверствть ошибку */


.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  grid-area: result__video;
}

.search-form{
  grid-area: search-form;
  display: grid;
  /* width: 711px; */
  /* height: 54px; */
  /* grid-template-rows: 54px; */
  grid-template-rows: 54px;
  grid-template-columns: 225px 212px 194px;
  justify-content:space-between;
  /* justify-content:space-evenly; */
  /* align-content: flex-start; */
  grid-column: 1/1;
  grid-row: 2/2;
}


.search-form__fieldset{
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* align-items: center; */
  border-width: 0px;
}

.search-form__checkbox-list{
  display: flex;
  justify-content: space-between;
}


.content__card-link{
  width: 390px;
  height: 103px;

}


.content__video-card{
  /* То как было до: */
  /* display: flex;
  flex-direction: column; */

  /* То как стало после */
  display: grid;
  /* grid-template-columns: 196px 194px; */
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 30px 0px;
}


/* .content__video-card-description-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 
  gap: 6px; 
  grid-template-areas: "content__video-card-title",
  "content__video-card-description";
} */


.content__video-card-title{
  grid-area: content__video-card-title;
  width: 196px;
  height: 30px;
  font-family: 'Oswald';
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: white;
}

.content__video-card-description{
  grid-area: content__video-card-description;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  /* font-style:normal; */
  font-size: 18px;
  line-height: 16.2px;
  color: white;

  width: 196px;
  height: 17px;
  margin-top: 6px;
}


.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}









/* .search-form__label{
  display: grid;
  grid-column: 10;
  justify-content: space-around;
} */









.search-form__fieldset-title{
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.search-form__textfield{
  background: transparent; 
  border: 1px solid transparent;
  border-top-color: #ccc;     
  border-bottom-color: #ccc;   
  color: white;         

  /* width: 225;
  height: 27;
  gap: 10px;
  border-top-width: 1px;
  border-bottom-width: 1px; */

  padding: 5px 0px 5px 0px; 
  /* Что бы инпут был ровно 27px */

}



.content__accent{
  font-family: 'Oswald';
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: grey;
}


.search-form__submit-button{
  /* position: absolute; */
  width: 194px;
  height: 34px;
  color: white;
  /* gap: 10px; */
  background-color:  black;
  border-width: 1px;
  border-color: white;
  margin-top: 20px;
  /* margin-left: 517px; */
}

.more-button{
    /* position: absolute; */
  width: 100%;
  height: 34px;
  color: white;
  /* gap: 10px; */
  background-color:  black;
  border-width: 1px;
  border-color: white;
  margin-top: 20px;
}



/* .error-template .error {
  grid-area: result__video-container;
  width: 711px;
  height: 386px;
  align-self:first baseline;
  grid-column: 1/1;
  grid-row: 1/1;
} */

/* .error__title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
} */

.result__video-container .error{
  /* position: relative; */
  position: absolute;
  /* grid-area: result__video-container; */
  width: 711px;
  height: 386px;
  /* align-self:first baseline; */
  grid-column: 1/1;
  grid-row: 1/1;
}






/* Реализация динамики */

.search-form__checkbox-list{
  display: grid;
  grid-auto-flow: column;
}

.search-form__label{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}


.search-form__fieldset-title{
  font-family: 'Fira Sans Condensed';
  /* font-family: 'Fira', Sans, Condensed; */
  font-weight: 400;
  /* font-style: Regular; */
  font-size: 18px;
}
.search-form__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background: transparent;

  margin-right: 8px;
}

.visually-hidden:active {
  background: white;
}
.visually-hidden:hover {
  background: white;
}

/* .search-form__pseudo-checkbox */

.search-form__checkbox-list:focus-visible {
  /* border: 1px; */
  border-width: 1px;
  border-color: white;  
}


.button:active{
  background: #545050;
}

.button:hover{
  text-decoration:underline;
}

.button:focus-visible{
  border-width: 1px;
  border-color: white; 
}

.content__video-card-description-container:active{
  background: #545050;
}

.content__video-card-description-container:hover{
  text-decoration:underline;
  color: white;
  text-decoration-style: solid;
  text-decoration-thickness: 0;

}

.content__video-card:focus-visible{
  border-width: 1px;
  border-color: white; 
}




.search-form__textfield:active{
  border-width: 1px;
  border-color: white; 
}

/* .search-form__textfield:hover{
  text-decoration:underline;
  color: white;
  text-decoration-style: solid;
  text-decoration-thickness: 0;
} */

.search-form__textfield:focus-visible{
  border-width: 1px;
  border-color: white; 
}