*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


/* New code */

.page{
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  align-items: center;
}

.content{
  display: grid;
  grid-template-areas: 
  "result__video-container content__details";
  width: 1140px;
  height: 534px;
  top: 133px;
  left: 30px;
  bottom: 0px;
  gap: 30px;
  opacity: 1;
}

.result__video-container{
  grid-area: result__video-container;
  width: 711px;
  height: 456px;
  gap: 16px;

}

.search-form{
  grid-area: search-form;
}
.content__details{
  grid-area: content__details;
  width: 399px;
  height: 534px;
  gap: 26px;
}