*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


/* New code */

.page{
  display: flex;

}

.content{
  display: grid;
  grid-template-areas: 
  "result__video-container content__details";
}

.result__video-container{
  grid-area: result__video-container;
  /* width: 711;
  height: 456;
  gap: 16px;
  angle: 0 deg;
  opacity: 1; */

}

.search-form{
  grid-area: search-form;
}
.content__details{
  grid-area: content__details;
}